@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 44px 0px 144px 76px;
}

header img {
    width: 180px;
    margin-right: 30px;
}

header a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    cursor: pointer;
    color: brown;
    margin-right: 23px;
}

header button {
    background-color: brown;
    color: antiquewhite;
    border-radius: 20.5px;
    border: none;
    padding: 20px;
}
.telaInicial {
   width: 568px;
   height: 500px;
   margin-left: 70px;
}

main {
    display: inline-block;
}

div h1 {

}

div h2 {

}

div p {
    width: 515px;
}